.about {
  margin-top: 50px;
  background: #eee;
}
.about h1 {
  text-align: center;
  margin-bottom: 50px;
}
.about h4 {
  font-size: 20px;
  line-height: 1.75;
  margin-bottom: 35px;
}

.about .company {
  padding: 25px;
}

.about .company .company-container {
  max-width: 800px;
  margin: 0 auto;
}
.about .company .company-name {
  font-size: 4em;
  margin-top: 25px;
}
.about .company .company-slogan {
  font-size: 2.75em;
  font-style: italic;
}

@media (max-width: 768px) {
  .about .company {
    text-align: center;
  }
  .about .company .company-name {
    margin-top: 0px;
  }
  .about .company img {
    float: none !important;
    display: block;
    margin: 0 auto;
  }
}

.about .philosophy {
  padding: 25px;
  background-image: url(../../content/assets/philosophy-background-small.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
}
.about .philosophy h4 {
  font-size: 24px;
}

.about .team {
  padding: 25px 0 100px 0;
}
.about .team .team-member {
  margin-bottom: 50px;
}
.about .team .img-container {
  text-align: center;
}
.about .team img {
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
}
.about .team p {
  padding: 5px 15px;
  font-size: 1.4em;
}
