.contact {
  margin-top: 40px;
}

/* Override Monday.com Forms */
.contact .form-content-component .form-titles .form-is-anonymous-indicator {
  display: none !important;
}
.contact iframe {
  border: none;
}
