.maturity-model {
  margin-top: 70px;
  margin-bottom: 100px;
  min-height: 100vh;
}

.maturity-model p {
  margin-left: 15px;
}

.maturity-model h2 {
  margin-top: 40px;
  margin-bottom: 15px;
}

.maturity-model h3 {
  font-weight: 900;
}

.maturity-model li {
  margin-bottom: 10px;
  font-size: 16px;
}
