.resources {
  margin-top: 65px;
  min-height: 100vh;
}

.resources-videos h2 {
  margin-bottom: 25px;
}

.resources-articles {
  margin-top: 25px;
}

.resources .resources__article {
  padding: 15px;
  /*background: #eee;*/
  border: 1px solid #eee;
  border-radius: 15px;
  margin-bottom: 25px;
  min-height: 250px;
  display: block;
  color: black;
  text-align: center;
}
.resources .resources__article:hover {
  cursor: pointer;
  background: #ddd;
}
.resources .resources__article:hover,
.resources .resources__article:active,
.resources .resources__article:focus {
  text-decoration: none
}
.resources__article i {
  font-size: 8em;
}
.resources__article img {
  max-width: 150px;
}
.resources__article h3 {
  text-align: center;
  margin-bottom: 15px;
}
.resources__article p {
  margin: 15px;
  text-align: left;
}
