.white-paper {
  margin-top: 70px;
  margin-bottom: 100px;
  min-height: 100vh;
}

.white-paper__header h1 {
  display: inline-block;
  margin-bottom: 25px;
}
.white-paper__header .btn {
  margin-top: 20px;
}
@media (max-width: 992px) {
  .pull-left {
    float: none !important;
  }
  .pull-right {
    float: none !important;
  }
  .white-paper__header .btn {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.white-paper h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.white-paper h3 {
  font-weight: 900;
  margin-bottom: 20px;
}

.white-paper ul,
.white-paper ol {
  margin: 20px 0;
}
.white-paper li {
  margin-bottom: 10px;
  font-size: 18px;
}
